@model IEnumerable<OnlineCommercialAutomation.Models.Classes.PersonalGroup>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Department Personal Counts</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Department</th>
                    <th>Progress Bar</th>
                    <th style="width: 40px">Count</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var totalAmount = Model.Sum(x => x.Amount);
                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    var percentage = (double)item.Amount / totalAmount * 100;

                    string progressBarClass;
                    if (percentage <= 30)
                    {
                        progressBarClass = "bg-primary";
                    }
                    else if (percentage <= 60)
                    {
                        progressBarClass = "bg-warning";
                    }
                    else
                    {
                        progressBarClass = "bg-success";
                    }

                    string badgeClass;
                    if (percentage <= 30)
                    {
                        badgeClass = "badge bg-danger";
                    }
                    else if (percentage <= 60)
                    {
                        badgeClass = "badge bg-warning";
                    }
                    else
                    {
                        badgeClass = "badge bg-success";
                    }

                    
                    <tr>
                        <td>@i.</td>
                        <td>@item.Department</td>
                        <td>
                            <div class="progress progress-xs">
                                
                                <div class="progress-bar @progressBarClass" style="width: @percentage%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg-@badgeClass">@item.Amount</span></td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
